.blog-card {
	transition-duration: 0.2s;
	border: none !important;
	box-shadow: 0 0 10px $dark-grey;
	margin: 1rem;
	max-width: 20rem;

	@media (max-width: $mediumScreen) {
		max-width: max-content;
	}
	
	.card-body {
		background-color: $light-grey;
	}
}

.blog-card:hover {
	transform: scale(1.02);
}
