
.navbar {
	background-color: $dark-grey;

	.navbar-toggler {
		width: 100vh;

		.navbar-toggler-icon {
			filter: invert(100%);
		}
		
	}

	.navbar-nav {
		text-align: right;
	}

	

	a {
		color: $font-light-color !important;
	}

	.nav-item {
		margin-right: 2rem;
	}

	.bp3-heading {
		font-family: Courgette;
		font-size: $landing-banner-heading-size;
	}

}