.about-us {
	background-color: $light-grey;
	box-shadow: 0 0 10px $dark-grey;
	padding: 0 !important;
	max-width: 800px !important;
	.image {
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
	}
}