@import "~bootstrap/scss/bootstrap";
html, body {
	font-family : Manjari;
	margin:0;
	padding:0;
	width: 100%;
	background-color: $daisy;

	main {
		padding-top: 40px;
		min-height: 100vh;
	}

	.section {
		margin-bottom: 5rem;
	}

	.jumbotron {
		box-shadow: 0 5px 10px $dark-grey;
	}

	.topic{
		font-size: $topic-font-size;
		color: $dark-grey;
		margin-bottom: 1rem;
		font-weight: 700;

		@media (max-width: $smallScreen){
			font-size: $mobile-topic-font-size;
		}
	}

	.container {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.title{
		font-size: $title-font-size;
		font-weight: 700;

		@media (max-width: $smallScreen) {
			font-size: $mobile-title-font-size;
		}
	}

	.card-title{
		font-size: $regular-font-size;
		font-weight: 700;

		@media (max-width: $smallScreen) {
			font-size: $mobile-regular-font-size;
		}
	}

	.card-text, .content{
		font-size: $content-font-size;

		@media (max-width: $smallScreen) {
			font-size: $mobile-content-font-size;
		}
	}

	.custom-btn, .custom-btn>a {
		background-color: $dark-grey;
		color: $font-light-color;	
		border: none !important;
		margin: 1rem;
		padding: 0.75rem 1rem;
		border-radius: $border-radius;
	}
	.custom-btn:hover {
		background-color: darken($dark-grey, 5%);
	}

	.link-to-post {
		color: $dark-grey;
		font-weight: 700;
	}

	.light-ani-link {
		color: $font-light-color;
	}
	.blog-details-small {
		font-size: $smallest-font-size;
	}
}
