
// COLORS
$daisy : #e6e4e4;
$dark-grey: #333333;
$light-grey: #F5F5F5;
$font-light-color: #F5F5F5;

// SIZES
$landing-banner-heading-size : 96px;
$regular-font-size: 25px;
$topic-font-size: 36px;
$title-font-size: 35px;
$h1-title-font-size: 45px;
$content-font-size: 18px;
$smallest-font-size: 10px;
$mobile-landing-banner-heading-size : 36px;
$mobile-regular-font-size: 20px;
$mobile-topic-font-size: 25px;
$mobile-title-font-size: 25px;
$mobile-h1-title-font-size: 40px;
$mobile-content-font-size: 16px;
$border-radius: 1px;
$smallScreen: 500px;
$mediumScreen: 770px;
$largeScreen: 1280px;