
// COLORS
$daisy : #FFFDEB;
$dark-grey: #414141;
$light-grey: #F2F2F2;
$font-light-color: #F2F2F2;

// SIZES
$landing-banner-heading-size : 96px;
$regular-font-size: 25px;
$topic-font-size: 36px;
$title-font-size: 35px;
$content-font-size: 18px;
$smallest-font-size: 10px;
$mobile-landing-banner-heading-size : 36px;
$mobile-regular-font-size: 20px;
$mobile-topic-font-size: 25px;
$mobile-title-font-size: 25px;
$mobile-content-font-size: 14px;
$border-radius: 10px;
$smallScreen: 500px;
$mediumScreen: 900px;
$largeScreen: 1280px;