
// COLORS
$daisy : #e6e4e4;
$dark-grey: #333333;
$light-grey: #F9F9F9;
$font-light-color: #F9F9F9;

// SIZES
$landing-banner-heading-size : 96px;
$regular-font-size: 25px;
$topic-font-size: 30px;
$title-font-size: 35px;
$h1-title-font-size: 60px;
$content-font-size: 19px;
$smallest-font-size: 10px;
$mobile-landing-banner-heading-size : 36px;
$mobile-regular-font-size: 20px;
$mobile-topic-font-size: 25px;
$mobile-title-font-size: 25px;
$mobile-h1-title-font-size: 50px;
$mobile-content-font-size: 17px;
$border-radius: 1px;
$smallScreen: 500px;
$mediumScreen: 770px;
$largeScreen: 1280px;