
	.blog-post-container {
		background-color: $light-grey;
		padding: 0 !important;
		box-shadow: 0 0 10px $dark-grey;
		border-radius: $border-radius;
	
		@media (max-width: $smallScreen) {
			max-width: 100% !important;
		}
		@media (min-width: $smallScreen) and (max-width: $mediumScreen) {
			max-width: 80% !important;
		}
	
		.img-fluid{
			max-width: 100% !important;
		}
	
		.content-container {
			max-width: 90% !important;
	
			
	
			.blog-details {
				margin-top: 1rem;		
				font-size: $smallest-font-size;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
	
					.author-image {
						width: 50px;
						height: auto;
						border-radius: 100px;
					}
		
					.author-row {
						margin-bottom: 0 !important;
						width: 250px;
					}
		
			}
	
			.blog-details > .row > .col {
				padding: 0 !important;
			}
			.blog-details > .row > .col-1 {
				max-width: min-content !important;
			}
	
			.blog-details-2 {
				margin: 1rem 0 0 0;
			}
			
		.title {
			margin-top: 2rem;
		}
	
		.content {
			margin-top: 2rem;
		}
	
		.social-sharing {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			align-items: center;
			padding: 2rem 1rem 2rem 0;
			
	
			@media (max-width: $smallScreen) {
				width: 100%;
			}
	
			.social-sharing-text {
				width: fit-content;
			}
	
			.social-sharing-icons {
				margin: 1rem;
	
				.react-share__ShareButton {
					margin: 0.5rem;
				}
			}
		}
		}
	
	}
